<div class="indexofbg">
    <div class="container cd-main-content">
        <!--轮播图-->
        <div class="lunbotu" >
            <div class="swiper-container">
                <div class="navhead">
                    <!--导航栏开始-->
                    <div class="menuwrap">
                    </div>
                    <div class="menuContent">
                        <div class="item" data-id="a">
                            <a href="#" role="button" class="btn-lg  ">
                                <span class="group">前端开发</span>
                            </a>
                            <span class="glyphicon glyphicon-menu-right " style="color: white;font-size: small ;line-height: 45px"></span>
                            <div class="right index-of-banner">
                                <h4>分类目录</h4>
                                <div class="fnav">
                                    <div class="fe-base-box clearfix">
                                        <span class="bold mr10 l small-title">基础：</span>
                                        <div class="tag-box l">
                                            <a target="_blank" href="">HTML/CSS</a><span class="ml10 mr10">/</span>
                                            <a target="_blank" href="">JavaScript</a><span class="ml10 mr10">/</span>
                                            <a target="_blank" href="">jQuery</a><br>
                                        </div>
                                    </div>
                                    <div class="fe-advance-box clearfix">
                                        <span class="bold mr10 l small-title">进阶：</span>
                                        <div class="tag-box l">
                                            <a  href="javascript: void(0)">Html5</a><span class="ml10 mr10">/</span>
                                            <a  href="javascript: void(0)">CSS3</a><span class="ml10 mr10">/</span>
                                            <a  href="javascript: void(0)">Node.js</a><span class="ml10 mr10">/</span>
                                            <a  href="javascript: void(0)">AngularJS</a><span class="ml10 mr10">/</span>
                                            <a  href="javascript: void(0)">Bootstrap</a><span class="ml10 mr10">/</span>
                                            <a  href="javascript: void(0)">React</a><span class="ml10 mr10">/</span>
                                            <a  href="javascript: void(0)">Sass/Less</a><span class="ml10 mr10">/</span>
                                            <a  href="javascript: void(0)">Vue.js</a><span class="ml10 mr10">/</span>
                                            <a  href="javascript: void(0)">WebApp</a><br>
                                        </div>
                                    </div>
                                    <div class="fe-other-box clearfix">
                                        <span class="bold mr10 l small-title">其它：</span>
                                        <div class="tag-box l"><a  href="">前端工具</a></div>
                                    </div>
                                </div>
                                <h4>课程推荐</h4>
                                <div class="knav">
                                    <p>
                                        <a href="" ui-sref="shizhaninfo({ano:9})"
                                           data-track="syqd-1-1" ><span class="cate-tag">实战</span> 带你入门Vue2.0及案例开发 </a>

                                    </p>
                                    <p>
                                        <a href=""  ui-sref="shizhaninfo({ano:8})"
                                           data-track="syqd-1-2" ><span class="cate-tag">实战</span>ES6零基础教学 解析彩票项目</a>
                                    </p>
                                    <p>
                                        <a href="" ui-sref="shizhaninfo({ano:3})"
                                           data-track="syqd-1-2" ><span class="cate-tag">实战</span> Node.js七天搞定微信公众号</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item" data-id="b">
                            <a href="#" role="button" class="btn-lg ">
                                <span class="group">后端开发</span>
                            </a>
                            <span class="glyphicon glyphicon-menu-right " style="color: white;font-size: small ;line-height: 45px"></span>

                            <div class="right index-of-banner">
                                <h4>分类目录</h4>
                                <div class="fnav">
                                    <div class="fe-base-box clearfix">
                                        <span class="bold mr10 l small-title">基础：</span>
                                        <div class="tag-box l">
                                            <a target="_blank" href="">PHP</a><span class="ml10 mr10">/</span>
                                            <a target="_blank" href="">Java</a><span class="ml10 mr10">/</span>
                                            <a target="_blank" href="">C</a><span class="ml10 mr10">/</span>
                                            <a target="_blank" href="">C++</a><span class="ml10 mr10">/</span>
                                            <a target="_blank" href="">C#</a><span class="ml10 mr10">/</span>
                                            <a target="_blank" href="">Ruby</a><span class="ml10 mr10">/</span>
                                            <a target="_blank" href="">Python</a><br>
                                        </div>
                                    </div>

                                </div>
                                <h4>课程推荐</h4>
                                <div class="knav">
                                    <p>
                                        <a href="" ui-sref="shizhaninfo({ano:9})"
                                           data-track="syqd-1-1" ><span class="cate-tag">实战</span> 带你入门Vue2.0及案例开发 </a>

                                    </p>

                                    <p>
                                        <a href="" ui-sref="shizhaninfo({ano:3})"
                                           data-track="syqd-1-2" ><span class="cate-tag">实战</span> Node.js七天搞定微信公众号</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item" data-id="c">
                            <a href="#" role="button" class="btn-lg ">
                                <span class="group">移动开发</span>
                            </a>
                            <span class="glyphicon glyphicon-menu-right " style="color: white;font-size: small ;line-height: 45px"></span>

                            <div class="right index-of-banner">
                                <h4>分类目录</h4>
                                <div class="fnav">
                                    <div class="fe-base-box clearfix">

                                        <div class="tag-box l">
                                            <a target="_blank" href="">Android</a><span class="ml10 mr10">/</span>
                                            <a target="_blank" href="">iOS</a><span class="ml10 mr10">/</span>
                                            <a target="_blank" href="">Unity 3D</a><span class="ml10 mr10">/</span>
                                            <a target="_blank" href="">Cocos2d-x</a><br>

                                        </div>
                                    </div>

                                    <div class="fe-other-box clearfix">
                                        <span class="bold mr10 l small-title">其它：</span>
                                        <div class="tag-box l"><a  href="">开发工具</a></div>
                                    </div>
                                </div>
                                <h4>课程推荐</h4>
                                <div class="knav">

                                    <p>
                                        <a href=""
                                           data-track="syqd-1-2" ><span class="cate-tag">实战</span> BAT大牛经验之谈 全面系统解析Android面试</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item" data-id="d">
                            <a href="#" role="button" class="btn-lg ">
                                <span class="group">数据库</span>
                            </a>
                            <span class="glyphicon glyphicon-menu-right " style="color: white;font-size: small ;line-height: 45px"></span>

                            <div class="right index-of-banner">
                                <h4>分类目录</h4>
                                <div class="fnav">
                                    <div class="fe-base-box clearfix">

                                        <div class="tag-box l">
                                            <a target="_blank" href="">MySQL</a><span class="ml10 mr10">/</span>
                                            <a target="_blank" href="">MongoDB</a><span class="ml10 mr10">/</span>
                                            <a target="_blank" href="">Oracle</a><span class="ml10 mr10">/</span>
                                            <a target="_blank" href="">SQL Server</a><br>
                                        </div>
                                    </div>

                                </div>
                                <h4>课程推荐</h4>
                                <div class="knav">
                                    <p>
                                        <a href=""
                                           data-track="syqd-1-1" ><span class="cate-tag">实战</span> Java SSM开发大众点评后端 </a>

                                    </p>
                                    <p>
                                        <a href=""  ui-sref="shizhaninfo({ano:8})"
                                           data-track="syqd-1-2" ><span class="cate-tag">实战</span>2015 Oracle技术嘉年华</a>
                                    </p>
                                    <p>
                                        <a href="" ui-sref="shizhaninfo({ano:3})"
                                           data-track="syqd-1-2" ><span class="cate-tag">实战</span> Oracle数据库开发必备利器之SQL基础</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item" data-id="e">
                            <a href="#" role="button" class="btn-lg ">
                                <span class="group">云计算&大数据</span>


                            </a>
                            <span class="glyphicon glyphicon-menu-right " style="color: white;font-size: small ;line-height: 45px"></span>

                            <div class="right index-of-banner">
                                <h4>分类目录</h4>
                                <div class="fnav">
                                    <div class="fe-base-box clearfix">

                                        <div class="tag-box l">
                                            <a target="_blank" href="">大数据</a><span class="ml10 mr10">/</span>
                                            <a target="_blank" href="">云计算</a><br>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="item" data-id="f">
                            <a href="#" role="button" class="btn-lg ">
                                <span class="group">运维&测试</span>
                            </a>
                            <span class="glyphicon glyphicon-menu-right " style="color: white;font-size: small ;line-height: 45px"></span>

                            <div class="right index-of-banner">
                                <h4>分类目录</h4>
                                <div class="fnav">
                                    <div class="fe-base-box clearfix">
                                        <div class="tag-box l">
                                            <a target="_blank" href="">测试</a><span class="ml10 mr10">/</span>
                                            <a target="_blank" href="">linux</a><span class="ml10 mr10">/</span>
                                        </div>
                                    </div>
                                </div>
                                <h4>课程推荐</h4>
                                <div class="knav">
                                    <p>
                                        <a href="" ui-sref="shizhaninfo({ano:9})"
                                           data-track="syqd-1-1" ><span class="cate-tag">实战</span> Linux软件安装管理</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item" data-id="g">
                            <a href="#" role="button" class="btn-lg ">
                                <span class="group">UI设计</span>
                            </a>
                            <span class="glyphicon glyphicon-menu-right " style="color: white;font-size: small ;line-height: 45px"></span>

                            <div class="right index-of-banner">
                                <h4>分类目录</h4>
                                <div class="fnav">
                                    <div class="fe-base-box clearfix">
                                        <div class="tag-box l">
                                            <a target="_blank" href="">动画动效</a><span class="ml10 mr10">/</span>
                                            <a target="_blank" href="">APPUI设计</a><span class="ml10 mr10">/</span>
                                            <a target="_blank" href="">设计工具</a><span class="ml10 mr10">/</span>
                                            <a target="_blank" href="">设计基础</a><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--导航栏结束-->
                </div>
                <!--轮播图开始-->
                <div id="frame" >
                    <a id="lb1" class="num">1</a>
                    <a id="lb2" class="num">2</a>
                    <a id="lb3" class="num">3</a>
                    <a id="lb4" class="num">4</a>
                    <div id="photos" class="play">
                        <img src="images/1.jpg" >
                        <img src="images/2.jpg" >
                        <img src="http://img.mukewang.com/5903250200014eb412000460.jpg" >
                        <img src="images/3.jpg" >
                    </div>
                </div>
            </div>
        </div>
        <!--轮播图结束-->

        <div class="path-banner">
            <a href="#"><img src="images/path_1.png" alt=""></a>
            <a href="#"><img src="images/path_2.png" alt=""></a>
            <a href="#"><img src="images/path_3.png" alt=""></a>
            <a href="#"><img src="images/path_4.png" alt=""></a>
            <a href="#"><img src="images/path_5.png" alt=""></a>
        </div>
        <div class="shizhan">
            <h3>实战推荐
                <a href="javascript:void (0)" class="types-title-more" target="_blank">
                    <span ui-sref="shizhan">更多 </span>
                    <i > > </i>
                </a>
            </h3>
            <div class="shizhan-course">
                <div ng-repeat="getActualcombIndex in actualcombIndexData">
                <div class="index-course-container">
                    <a  class="course-card" ui-sref="shizhaninfo({ano:getActualcombIndex.ano})" data-track="sztj-1-1">
                        <div class="course-card-top cart-color " ng-class="getActualcombIndex.bgcolor">
                            <i class="imv2-war"></i>
                            <span ng-bind="getActualcombIndex.aname_simple"></span>

                        </div>

                        <div class="course-card-content">
                            <h3 class="course-card-name" ng-bind="getActualcombIndex.aname"></h3>
                            <p title="" ng-bind="getActualcombIndex.acover_content"></p>
                            <div class="clearfix course-card-bottom">
                                <div class="course-card-info" ng-cloak>
                                    {{getActualcombIndex.renshu}}人在学
                                </div>

                                <div class="course-card-price" ng-cloak>￥{{getActualcombIndex.price}}.00</div>
                            </div>
                        </div>
                    </a>



                    <div class="course-card-bk" style="background-image: url(http://szimg.mukewang.com/583e42fb0001e04f05400300-360-202.jpg)" ;=""></div>
                </div>

                </div>
            </div>
</div>

        <div class="mianfei">
            <h3>免费好课
                <a href="javascript:void (0)" class="types-title-more" target="_blank">
                    <span ui-sref="course">更多 </span>
                    <i > > </i>
                </a>
            </h3>

            <div class="shizhan-course" >
                <div ng-repeat="getCourseIndex in courseIndexData">
                <div class="index-course-container ">

                    <a  href="" class="course-card" ng-click="courseDetail(getCourseIndex.cno,getCourseIndex.c_sortname)">

                        <div class="course-card-top cart-color " ng-class="getCourseIndex.bgcolor">
                            <i class="imv2-war"></i>
                            <span ng-bind="getCourseIndex.c_sortname"></span>
                        </div>

                        <div class="course-card-content">
                            <h3 class="course-card-name" ng-bind="getCourseIndex.cname"></h3>
                            <p title="JavaScript做为一名Web工程师的必备技术，本教程让您快速入门" ng-bind="getCourseIndex.cover_detail"></p>
                            <div class="clearfix course-card-bottom">
                                <div class="course-card-info" ng-cloak style="color: #93999f;">
                                    {{getCourseIndex.degreename}}<span>·</span>
                                    {{getCourseIndex.renshu}}人在学
                                </div>
                            </div>
                        </div>
                    </a>


                    <div class="course-card-bk">
                        <img src="http://www.imooc.com/courseimg/s/cover042_s.jpg">
                    </div>
                </div>
            </div>
            </div>

        </div>
        <!--前端开发工程师-->
        <div class="mianfei">
            <h3>前端开发工程师
                <a href="javascript:void (0)" class="types-title-more" target="_blank">
                    <span>更多 </span>
                    <i > > </i>
                </a>
            </h3>
            <!--前段工程-->
            <div class="clearfix types-content">
                <div class="types-content-left types-content-left-hmax" style="background-image: url(http://img.mukewang.com/58c2494a00018ebd02240348.jpg);">
                    <div class="course-content-container">
                        <div class="path-card-container ">
                            <a href="javascript: void(0)" data-track="syqdkf-1-1">
                                <div class="path-cart-tit1">    <i class="imv2-path"></i>
                                    <span>职业路径</span>

                                </div>
                                <div class="path-cart-tit3">前端小白入门系列课程</div>
                                <div class="path-cart-more clearfix">   <span>了解详情</span>
                                    <i class="imv2-arrow3_r"></i>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="types-content-recommended">
                        <div class="recommended-item">
                            <div><a  data-track="syqdkf-1-2" href="javascript: void(0)">· HTML5与CSS3实现动态网页系列课程</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="types-content-right">
                    <div class="types-content-banner clearfix">
                        <a  data-track="syqdkf-1-5" href="javascript: void(0)">
                            <img src="http://img.mukewang.com/58eddf250001f1c704680100.jpg">
                        </a>
                        <a  data-track="syqdkf-1-6" href="javascript: void(0)">
                            <img src="http://img.mukewang.com/58fee3190001e50b04680100.jpg">
                        </a>
                    </div>
                    <div class="qianduan-course">
                        <div ng-repeat="getIndexMan in qianduanIndexData"class="s">
                            <div class="index-course-container">
                                <a  class="course-card" href="javascript: void(0)" ui-sref="shizhaninfo({ano:getIndexMan.ano})"  data-track="sztj-1-1">

                                    <div class="course-card-top cart-color " ng-class="getIndexMan.bgcolor">
                                        <i class="imv2-war"></i>
                                        <span ng-bind="getIndexMan.aname_simple"></span>
                                    </div>

                                    <div class="course-card-content">
                                        <h3 class="course-card-name" ng-bind="getIndexMan.aname"> </h3>
                                        <p title="" ng-bind="getIndexMan.acover_content">开发一个集新闻阅读与电影影讯为一体的小程序，学会小程序开发</p>
                                        <div class="clearfix course-card-bottom">
                                            <div class="course-card-info" ng-cloak>
                                                {{getIndexMan.renshu}} 人在学
                                            </div>

                                            <div class="course-card-price" ng-cloak>￥{{getIndexMan.price}}.00</div>
                                        </div>
                                    </div>
                                </a>

                                <div class="course-card-bk" style="background-image: url(http://szimg.mukewang.com/583e42fb0001e04f05400300-360-202.jpg)" ;=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--前段工程师结束-->



    </div>
    <div class="mianfei">
        <div class="containera">

            <div class="leftcontent">
                <a  href="" class="hot-content"
                    style="background-image: url(http://img.mukewang.com/58ac14f10001f87f05900100.jpg);"
                    data-track="sytjyw-1-1">热门猿问</a>
                <!--<div class="img2">-->
                <!--&lt;!&ndash;<img src="make-index/images/7.jpg" alt="">&ndash;&gt;-->
                <!--</div>-->
                <div class="technonigy">
                    <ul >
                        <li class="" ng-repeat="questionData in questionIndexData">
                            <a class="label" href="javascript: void(0)" ui-sref="make-question-detail({qno:questionData.qno})" ng-bind="questionData.c_sortname"></a>
                            <i>
                                •
                            </i>
                            <a target="_blank" href="javascript: void(0)" ui-sref="make-question-detail({qno:questionData.qno})" title="" data-track="syrmsj-1-2"
                               class="content"  ng-bind="questionData.qtitle">
                            </a>
                        </li>

                    </ul>
                </div>
                <!--<div><a href=""><span>加载更多</span></a></div>-->
                <div class="content-more">
                    <a  class="clearfix" href="" data-track="syrmsj-1-8">    <span ui-sref="monkeyasking">进入猿问获取更多</span>       <i class="imv2-arrow3_r"></i>
                    </a>
                </div>
                <!--<div><a href=""><span>加载更多</span></a></div>-->
            </div>

            <div class="rightcontent">

                <a  href="" class="hot-content"
                    style="background-image: url(http://img.mukewang.com/58ac14e300010e8005900100.jpg);"
                    data-track="syrmsj-1-1">热门技术</a>

                <!--<div class="img1">-->
                <!--&lt;!&ndash;<img src="make-index/images/6.jpg" alt="">&ndash;&gt;-->
                <!--</div>-->
                <div class="technonigy">
                    <ul >
                        <li class="" ng-repeat="questionData in questionIndexData">
                            <a class="label" href="javascript: void(0)" ui-sref="make-question-detail({qno:questionData.qno})" ng-bind="questionData.c_sortname"></a>
                            <i>
                                •
                            </i>
                            <a  href="javascript: void(0)" title="" ui-sref="make-question-detail({qno:questionData.qno})" data-track="syrmsj-1-2"
                               class="content"  ng-bind="questionData.qtitle">
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="content-more">
                    <a  class="clearfix" href="" data-track="syrmsj-1-8">    <span ui-sref="monkeyasking">进入猿问获取更多</span>       <i class="imv2-arrow3_r"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
    </div>
</div>